**/LICENSE
**/NOTICE
**/.vscode
**/.DS_Store
**/.idea
logs/*.log
tmp
store/sessions
config/settings.*.yml
common/config/settings.*.yml
*test
*Dockerfile*
*docker-compose*
.dockerignore
**/docs
**/helm-charts
**/*.md
.git
.gitattributes
.gitignore
.travis.yml
**/node_modules
**/vendor
