####################################################################
# WhiteSource Unified-Agent configuration file for GO
# GENERAL SCAN MODE: Package Managers only
####################################################################
 
# !!! Important for WhiteSource "DIST - *" Products:
# Please set 
#   checkPolicies=false
#   forceCheckAllDependencies=false
# since Policy checks are not applicable for Security scans and also 
# not suitable for DIST category. CheckPolicies just cover IP scan 
# related license checks for SAP hosted cloud products only ("SHC - *").
checkPolicies=true
forceCheckAllDependencies=true
 
# forceUpdate is important and need to be true
forceUpdate=true
# failBuildOnPolicyViolation:
# If the flag is true, the Unified Agent exit code will be the result of the policy check.
# If the flag is false, the Unified Agent exit code will be the result of the scan.
forceUpdate.failBuildOnPolicyViolation=false
# offline parameter is important and need to be false
offline=false
 
# ignoreSourceFiles is important and need to be true
ignoreSourceFiles=true
# resolveAllDependencies is important and need to be false
resolveAllDependencies=false
  
#wss.connectionTimeoutMinutes=60
# URL to your WhiteSource server.
#wss.url=https://saas.whitesourcesoftware.com/agent
  
# resolveDependencies parameter is important and need to be true
go.resolveDependencies=true
# ignoreSourceFiles parameter is important and need to be true
go.ignoreSourceFiles=true
go.collectDependenciesAtRuntime=false
# dependencyManager: Determines the Go dependency manager to use when scanning a Go project.
# Valid values are 'dep', 'godep', 'vndr', 'gogradle', 'glide', 'govendor', 'gopm', 'vgo' and 'modules'.
# If empty, then the Unified Agent will try to resolve the dependencies using each one 
# of the package managers above.
go.dependencyManager=modules
#go.glide.ignoreTestPackages=false
#go.gogradle.enableTaskAlias=true
##################################
# Organization tokens:
##################################
# ! In case of PIPER, apiKey may not be used in this configuration, 
#   but set in configuration of piper. 
#   Please look at PIPER documentation for more information.
# ! For CoDePipes you may look at CoDePipes for more information.
#apiKey=
 
# userKey is required if WhiteSource administrator has enabled "Enforce user level access" option.
# ! In case of PIPER, apiKey may not be used in this configuration, 
#   but set in configuration of piper. 
#   Please look at PIPER documentation for more information.
# ! For CoDePipes you may look at CoDePipes for more information.
#userKey=
   
#projectName=
#projectVersion=
#projectToken=
  
#productName=
#productVersion=
#productToken=
#updateType=APPEND
#requesterEmail=user@provider.com
    
#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.lock
  
## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar
   
case.sensitive.glob=false
followSymbolicLinks=true

log.level=info
