apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: sfservicebindings.osb.servicefabrik.io
spec:
  additionalPrinterColumns:
  - JSONPath: .status.state
    name: state
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: age
    type: date
  group: osb.servicefabrik.io
  names:
    kind: SFServiceBinding
    plural: sfservicebindings
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            acceptsIncomplete:
              type: boolean
            appGuid:
              type: string
            bindResource:
              type: object
            context:
              type: object
            id:
              type: string
            instanceId:
              type: string
            parameters:
              type: object
            planId:
              type: string
            serviceId:
              type: string
          required:
          - instanceId
          - planId
          - serviceId
          type: object
        status:
          properties:
            appliedSpec:
              properties:
                acceptsIncomplete:
                  type: boolean
                appGuid:
                  type: string
                bindResource:
                  type: object
                context:
                  type: object
                id:
                  type: string
                instanceId:
                  type: string
                parameters:
                  type: object
                planId:
                  type: string
                serviceId:
                  type: string
              required:
              - instanceId
              - planId
              - serviceId
              type: object
            error:
              type: string
            resources:
              items:
                properties:
                  apiVersion:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - apiVersion
                - kind
                - name
                - namespace
                type: object
              type: array
            response:
              properties:
                secretRef:
                  type: string
              type: object
            state:
              type: string
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
