apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: sfserviceinstances.osb.servicefabrik.io
spec:
  group: osb.servicefabrik.io
  names:
    kind: SFServiceInstance
    plural: sfserviceinstances
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            context:
              type: object
            organizationGuid:
              type: string
            parameters:
              type: object
            planId:
              type: string
            previousValues:
              properties:
                organizationGuid:
                  type: string
                planId:
                  type: string
                serviceId:
                  type: string
                spaceGuid:
                  type: string
              type: object
            serviceId:
              type: string
            spaceGuid:
              type: string
          required:
          - serviceId
          - planId
          type: object
        status:
          properties:
            appliedSpec:
              properties:
                context:
                  type: object
                organizationGuid:
                  type: string
                parameters:
                  type: object
                planId:
                  type: string
                previousValues:
                  properties:
                    organizationGuid:
                      type: string
                    planId:
                      type: string
                    serviceId:
                      type: string
                    spaceGuid:
                      type: string
                  type: object
                serviceId:
                  type: string
                spaceGuid:
                  type: string
              required:
              - serviceId
              - planId
              type: object
            crds:
              items:
                properties:
                  apiVersion:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - apiVersion
                - kind
                - name
                - namespace
                type: object
              type: array
            dashboardUrl:
              type: string
            description:
              type: string
            error:
              type: string
            state:
              type: string
          required:
          - state
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
