extends dashboard

block navbar
  li: a.page-scroll(href='#service') Service
  li: a.page-scroll(href='#container') Container
  li: a.page-scroll(href='#files') Log Files

block content
  include mixins/sections.pug
  +showSectionService(service, plan, instance, customAttrs)
  +showSectionContainer(details, processes)
  +showSectionFiles('Log Files', files)
