version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/broker/applications/osb-broker"
    schedule:
      interval: "weekly"
      day: "thursday"
    ignore:
      - dependency-name: rxjs
      - dependency-name: pkgcloud
      - dependency-name: dockerode
      - dependency-name: agenda
  - package-ecosystem: "gomod"
    directory: "/interoperator"
    schedule:
      interval: "weekly"
      day: "monday"
  - package-ecosystem: "gomod"
    directory: "/operator-apis"
    schedule:
      interval: "weekly"
      day: "monday"
  - package-ecosystem: "docker"
    directory: "/broker"
    schedule:
      interval: "weekly"
      day: "monday"
  - package-ecosystem: "docker"
    directory: "/interoperator"
    schedule:
      interval: "weekly"
      day: "monday"
  - package-ecosystem: "docker"
    directory: "/operator-apis"
    schedule:
      interval: "weekly"
      day: "monday"
   
