interoperator/internal/client/**/* linguist-generated
interoperator/internal/cluster/registry/mock_registry/* linguist-generated
interoperator/internal/resources/mock_resources/* linguist-generated
interoperator/internal/provisioner/mock_provisioner/* linguist-generated
interoperator/api/resource/v1alpha1/mock_sfcluster/* linguist-generated
interoperator/internal/controller/multiclusterdeploy/watchmanager/mock_manager.go linguist-generated
interoperator/**/zz_generated.deepcopy.go linguist-generated