*~
.DS_Store
.idea

node_modules/

store/

coverage/

logs/

architecture/example.png

src/architecture/*.png

src/api/broker/**/*.html
src/api/agent/**/*.html

src/backup-restore-library/build
src/backup-restore-library/service-fabrik-backup-restore