.DS_Store
.idea
.vscode
**/lerna-debug.log
**/package-lock.json
**/node_modules
**/.yarn/*
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
**/.pnp.*
**/coverage
**/.env
**/npm-debug.log
**/.idea
**/vendor
**/logs
**/store/sessions
**/config/**/settings.*.yml
# Ignore documentation
**/jsdoc
# Ignore all logfiles and tempfiles.
**/*.log
/tmp
*/*/kubeconfig.yaml
# Ignore all files starting with "my"
my*
# Ignore coverage results
broker/coverage
.vscode/
#ingoring files created during unit tests
broker/lib/fabrik/actions/js/ReserveIps.js
broker/lib/fabrik/actions/sh/
broker/applications/deployment_hooks/src/lib/actions/js/ReserveIps.js
broker/applications/deployment_hooks/src/lib/actions/sh/