.DS_Store
.idea

# Ignore node_modules.
/node_modules

# Ignore documentation
/jsdoc
/docs/api/agent/*.html

# Ignore all logfiles and tempfiles.
/logs/*.log
/tmp
/store/sessions
npm-debug.log

# Ignore developer's settings files
broker/config/settings.*.yml
common/config/settings.*.yml

# Ignore all files starting with "my"
my*

# Ignore coverage results
/coverage
.vscode/


#ingoring files created during unit tests
broker/lib/fabrik/actions/js/ReserveIps.js
broker/lib/fabrik/actions/sh/
