####################################################################
# WhiteSource Unified-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################
  
checkPolicies=false
forceCheckAllDependencies=true
forceUpdate=true
forceUpdate.failBuildOnPolicyViolation=false
offline=false

# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
#includes=interoperator/**/*.go
includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.go **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.js **/*.json
  
## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar
   
case.sensitive.glob=false
followSymbolicLinks=true
