projectPerFolder=true
projectPerFolderIncludes=broker

log.level=debug
log.files.level=debug
forceCheckAllDependencies=true
checkPolicies=true
resolveAllDependencies=false
ignoreSourceFiles=true
forceUpdate=true

offline=false

npm.resolveLockFile=true
npm.yarnProject=false
npm.ignoreNpmLsErrors=true
npm.resolveDependencies=true
npm.projectNameFromDependencyFile=true
npm.resolveMainPackageJsonOnly=true
npm.resolveAdditionalDependencies=true
npm.removeDuplicateDependencies=true
npm.runPreStep=false
npm.ignoreSourceFiles=true
npm.identifyByNameAndVersion=true
npm.includeDevDependencies=false


##################################
# Organization tokens:
##################################
# ! In case of PIPER, apiKey may not be used in this configuration, 
#   but set in configuration of piper. 
#   Please look at PIPER documentation for more information.
# ! For CoDePipes you may look at CoDePipes for more information.
#apiKey=
 
# userKey is required if WhiteSource administrator has enabled "Enforce user level access" option.
# ! In case of PIPER, apiKey may not be used in this configuration, 
#   but set in configuration of piper. 
#   Please look at PIPER documentation for more information.
# ! For CoDePipes you may look at CoDePipes for more information.
#userKey=
   
#projectName=broker
#projectVersion=
#projectToken=
  
#productName=
#productVersion=
#productToken=
#updateType=APPEND
#requesterEmail=user@provider.com
    
#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.js,**/*.json
  
## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar
   
case.sensitive.glob=false
followSymbolicLinks=true
