apiVersion: osb.servicefabrik.io/v1alpha1
kind: SFPlan
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
    serviceId: '24731fb8-7b84-4f57-914f-c3d55d793dd4'
  name: &id 'bba8beae-5699-11e7-b35c-02a8da424bc3'
spec:
  name: &name 'v1.0-dev'
  id: *id
  description: 'Blueprint 1.0 service running inside a Docker container (for non-productive usage)'
  metadata:
    service-inventory-key: SERVICE-161
    costs:
    - amount:
        usd: 0.0
      unit: 'MONTHLY'
    bullets:
    - 'Container Deployment'
    - '128 MB Memory'
    - '100 MB Disk'
  free: true
  bindable: true
  planUpdatable: false
  templates:
  - action: sources
    type: helm
    url: "config/samples/templates/blueprintProperties"
  - action: properties
    type: helm
    url: "config/samples/templates/blueprintProperties"
  - action: provision
    type: helm
    url: "config/samples/templates/blueprint"
  - action: bind
    type: helm
    url: "config/samples/templates/blueprint"
  serviceId: '24731fb8-7b84-4f57-914f-c3d55d793dd4'
  schemas:
    service_instance:
      create:
        parameters:
          "$schema": "http://json-schema.org/draft-06/schema#"
          title: createServiceInstance
          type: object
          additionalProperties: false
          properties:
            foo:
              type: string
              description: some description for foo field
          required:
          - "foo"

  manager:
    async: true
  context:
    operator:
      image: "servicefabrikjenkins/blueprint"
      tag: "latest"
      port: 8080
      memory: '128m'
      persistent_volumes:
      - name: 'data'
        path: '/data'
        size: '100m'
    serviceFabrik:
      backupEnabled: false
