
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: sfclusters.resource.servicefabrik.io
spec:
  group: resource.servicefabrik.io
  names:
    kind: SFCluster
    listKind: SFClusterList
    plural: sfclusters
    singular: sfcluster
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: SFCluster is the Schema for the sfclusters API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: SFClusterSpec defines the desired state of SFCluster
          properties:
            secretRef:
              description: Name of the secret containing the kubeconfig required to
                access the member cluster. The secret needs to exist in the same namespace
                as the SFCluster and should have a "kubeconfig" key.
              type: string
          required:
          - secretRef
          type: object
        status:
          description: SFClusterStatus defines the observed state of SFCluster
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
